#calculator-container {
  border: solid black 2px;
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: minmax(auto) repeat(7, 60px);
  max-width: 320px;
  justify-content: center;
  align-content: center;
  margin: auto;
}

button {
  font-size: 50px;
  border: 1px solid black;
  outline: none;
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  background-color: aqua;
}

#display {
  grid-column: 1 / -1;
}

#previousValue,
#displayScreen {
  width: 300px;
  font-variant-numeric: tabular-nums;
  font-family: "Courier New", Courier, monospace;
}

#displayScreen {
  font-size: 50px;
}

.span-two {
  grid-column: span 2;
}